@@if (main === true) {
    <footer class="footer footer--main">
}
@@if (main === false) {
    <footer class="footer">
}
    <div class="container">
        <div class="footer__inner">
            <div class="footer__content">
                <div class="footer__title"><img src="img/title.svg" alt="GP DAYS 2024"></div>
                <nav class="footer__menu">
                    <ul>
                        <li><a class="link js-anchor" href="#main-about" data-txt="О мероприятии">О мероприятии</a></li>
                        <li><a class="link js-anchor" href="#main-prices" data-txt="Цены">Цены</a></li>
                        <li><a class="link js-anchor" href="#main-reports" data-txt="Программа">Программа</a></li>
                        <li><a class="link js-anchor" href="#main-guide" data-txt="Гид по городу">Гид по городу</a></li>
                        <li><a class="link js-anchor" href="#main-contacts" data-txt="Контакты">Контакты</a></li>
                    </ul>
                </nav>
                <button class="btn main-btn mod-open-btn" data-modal="reg-mod">регистрация</button>
                <div class="social">
                    <a href="#"><img src="img/icons/vk.svg" alt="VK"></a>
                    <a href="#"><img src="img/icons/tg.svg" alt="Telegram"></a>
                    <a href="#"><img src="img/icons/youtube.svg" alt="Youtube"></a>
                </div>
                <div class="footer__txt">
                    <p>Услуга оказывается ООО «ГЛОБУС-ИТ» в порядке,<br>определяемом в <a href="#" target="_blank" class="link" data-txt="Положении о проведении мероприятия">Положении о проведении мероприятия</a></p>
                    <p>Оставаясь на сайте, вы соглашаетесь с <a href="#" target="_blank" class="link" data-txt="Политикой конфиденциальности">Политикой конфиденциальности</a></p>
                </div>
                <div class="footer__logo">
                    <a href="#" target="_blank"><img src="img/logo-1.svg" alt=""></a>
                    <a href="#" target="_blank"><img src="img/logo-2.svg" alt=""></a>                             
                </div>
            </div>
            <div class="footer__img">
                <img src="img/footer-bg.svg" alt="">
            </div>
        </div>
        <svg class="bg-grad footer__grad" xmlns="http://www.w3.org/2000/svg" width="669" height="631" viewBox="0 0 669 631" fill="none">
            <path opacity="0.2" fill-rule="evenodd" clip-rule="evenodd" d="M389.611 75.2653C423.189 92.4845 452.624 113.707 481.67 137.819C506.432 158.376 522.975 185.349 547.426 206.276C586.452 239.677 677.902 247.038 668.298 297.55C657.59 353.871 560.531 334.53 516.156 370.74C492.618 389.947 492.243 424.975 478.752 452.219C449.322 511.652 450.918 601.198 389.611 626.291C338.085 647.38 277.287 593.438 245.429 547.717C215.027 504.086 263.375 430.124 226.344 391.978C168.938 332.844 29.15 375.621 2.57373 297.55C-19.423 232.932 105.666 211.639 146.294 156.825C180.61 110.527 165.718 22.09 220.306 3.79188C279.389 -16.0127 334.152 46.826 389.611 75.2653Z" fill="#2D7017"/>
        </svg>
    </div>
</footer>